* {
  box-sizing: border-box;
}

:focus {
 outline: 2px solid orangered;
}

body {
  background: linear-gradient(to right, yellow, red);
  /* background: linear-gradient(45deg, red, blue); */
  /* background: linear-gradient(#e66465, #9198e5); */
  /* background-color: red; */
}

input {
 background-color: rgba(255, 255, 255, .3);
 border-radius: 20px; /* As suggested by reviewer - Michael Ogu*/
}

.search-container {
 position: fixed;
 top: 300px;
 left: 50%;
 translate: -250px;
}

.search-container input,
.search-container .suggestions {
  width: 500px;
}

.search-container input {
 height: 2rem;
}

.search-container .suggestions {
   background-color: rgba(255, 255, 255, .4);
   /* position is redundant by itself - needs to have top/bottom/left/right to do anything */
   /* position: absolute; */
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* ul.has-suggestions { */
/* } */

ul li {
  text-align: start;
  padding: .5rem;
}

ul li:hover {
  background-color: orangered;
}